# C extensions and stuff
*.so
*.py[cod]
*~

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.python-version

# Installer logs
pip-log.txt

# Unit test / coverage reports
.envrc
.coverage
.tox
.pytest_cache

# IDEs
.vscode/
